@model Cart

<form method="post">
    <div class="border mt-2 p-4 rounded">
        <div class="container row">
            <div class="col-md-7 col-12">
                <span style="font-size:25px;" class="mb-2">Order Summary</span>
            </div>
            <br /><br /><br />
            <hr />
            <div class="col-7">
                <div class="row pt-2">
                    <div class="col-10 py-2">
                        <input asp-for="CartHeader.Name" placeholder="FULL NAME" class="form-control" />
                        <span asp-validation-for="CartHeader.Name" class="text-danger"></span>
                    </div>
                    <div class="col-10 py-2">
                        <input placeholder="EMAIL" asp-for="CartHeader.Email" class="form-control" />
                        <span asp-validation-for="CartHeader.Email" class="text-danger"></span>
                    </div>
                    <div class="col-10 py-2">
                        <input class="form-control" asp-for="CartHeader.Phone" placeholder="PHONE NUMBER" />
                        <span asp-validation-for="CartHeader.Phone" class="text-danger"></span>
                    </div>
                    <div class="col-10 pt-2">
                        <label class="col-form-label">Message :# </label>
                    </div>

                </div>
            </div>
            <div class="col-5">
                <div class="card mt-2">
                    <div class="card-body">
                        <div class=" d-none d-lg-block">
                            <div class="row">
                                <div class="col-6" style="font-size:20px">
                                    Product Name
                                </div>

                                <div class="col-3" style="font-size:20px">
                                    Price
                                </div>
                                <div class="col-3" style="font-size:20px">
                                    Count
                                </div>
                            </div>
                        </div>
                        <hr />
                        @foreach (var item in Model.CartDetails)
                        {
                            <div class="row h-100">
                                <div class="col-6">
                                    <span style="font-size:20px">@item.Product.Name</span>
                                </div>

                                <div class="col-3" style="font-size:11px;">
                                    <span style="font-size:17px;"> @item.Product.Price.ToString("c")</span>

                                </div>
                                <div class="col-3" style="font-size:11px;">
                                    <span style="font-size:17px;"> @item.Count</span>
                                </div>
                            </div>
                            <hr />
                        }
                        <div class="row">
                            <div class="col-12 text-center pr-4">
                                Order Total : @Model.CartHeader.CartTotal.ToString("c") <br />
                                @if (Model.CartHeader.Discount > 0)
                                {
                                    <span class="text-success"> Order Discount :
                                        @Model.CartHeader.Discount.ToString("c")</span>
                                }
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="row">

                            <div class="col-12 ">
                                <button type="submit" class="btn btn-primary btn-lg form-control">
                                    <span>Buy</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12">
                <a asp-action="Index" class="btn btn-primary btn-lg">Back to Cart</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}