@model Cart

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Cart.css" asp-append-version="true" />

    <style>
        .delete-button {
            width: 24px;
            height: 24px;
            cursor: pointer;
            transition: transform 0.2s;
        }

        .delete-button:hover {
            transform: scale(1.1);
        }
    </style>
    <script>
        var isAllCheck = false;
        function togglecheckboxes(cn) {
            var cbarray = document.getElementsByName(cn);
            for (var i = 0; i < cbarray.length; i++) {
                cbarray[i].checked = !isAllCheck;
            }
            isAllCheck = !isAllCheck;
        }
    </script>
</head>
@if (Model.CartHeader != null && Model.CartDetails?.Count() > 0)
{
    <div class="page-content">
        <div class="main-title">
            <h4>Cart</h4>
        </div>
        <div class="content">
            <div class="left-content">
                <div class="row-heading">
                    <label class="checkBox">
                        <input type="checkbox" onclick="togglecheckboxes('cb')" value="Toggle all" />
                        <span class="checkbox-fake">
                            <svg class="checkbox-mark" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                            </svg>
                        </span>
                        <span class="label">All 0 product</span>
                    </label>
                    <span>Price</span>
                    <span>Amount</span>
                    <span>Total</span>
                    <form asp-area="Customer" asp-action="DeleteAll" asp-controller="Cart">
                        <input type="hidden" name="id" />
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg" alt="deleted"
                            class="delete-button" style="cursor: pointer;" onclick="submitDeleteForm(this)">
                    </form>
                </div>
                <div class="infinite-scroll-component">
                    @foreach (var item in Model.CartDetails)
                    {
                        <div class="Seller">
                            <div class="List-Intended">
                                <div class="Row">
                                    <div class="Item-Info">
                                        <label class="checkbox">
                                            <input type="checkbox" name="cb" />
                                        </label>
                                        <a href="#">
                                            <img src="@Url.Content(item.Product.ImageUrl)" width="80" height="60">
                                        </a>
                                        <div class="Item-Content">
                                            <a href="">@item.Product.Name</a>
                                        </div>
                                    </div>
                                    <div class="Item-Price">
                                        <div type="normal" class="Price">@item.Product.Price <sup>đ</sup></div>
                                    </div>
                                    <div class="Item-Quantity">
                                        <input type="hidden" name="productId" value="@item.ProductId" />
                                        <button type="submit" class="Substract">-</button>
                                        <input id="product-item.Id" class="base-stats" type="number" name="quantity"
                                            value="@item.Count" readonly />

                                        <input type="hidden" name="productId" value="@item.ProductId" />
                                        <button type="submit" class="Add">+</button>
                                    </div>
                                    <div id="itemTotal-item.Id" class="Item-Subtotal">
                                        @item.Product.Price <sup>đ</sup>
                                    </div>
                                    <div class="Item-Action">
                                        <a asp-action="Delete" asp-route-cartDetailsId="@item.Id">
                                            @* @Html.AntiForgeryToken() *@  
                                            <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg"
                                                alt="deleted" class="delete-button" style="cursor: pointer;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="right-content">
                        <div class="Right-Inner" style="top: -270px;">
                            <div>
                                <div class="Address-Block">
                                    <div class="Customer-Info">
                                        <p class="Customer-Info-Name">
                                            UserName
                                        </p>
                                        <i></i>
                                    </div>
                                </div>
                            </div>
                            <div class="Price-Summary">
                                <ul class="Price-Items">
                                    <li class="Price-Item">
                                        <div class="Prices-Text">Temporary Price</div>
                                        <div class="Prices-Value"> @((0).ToString("c")) </div>
                                    </li>
                                    <li class="Price-Item">
                                        <div class="Prices-Text">Discount</div>
                                        <div class="Prices-Value"> @((0).ToString("c")) </div>
                                    </li>
                                    <li class="Price-Item">
                                        <div class="row">
                                            <div class="col-6">
                                                @if (string.IsNullOrEmpty(Model.CartHeader.CouponCode))
                                                {
                                                    <span>Coupon:</span>
                                                    <input asp-for="CartHeader.CouponCode" disabled />
                                                    <button type="submit" asp-action="ApplyCoupon"
                                                        class="btn btn-primary btn-lg" disabled> Apply
                                                    </button>
                                                }
                                                else
                                                {
                                                    <span>Coupon:</span>
                                                    <input asp-for="CartHeader.CouponCode" disabled />
                                                    <button type="submit" asp-action="RemoveCoupon"
                                                        class="btn btn-primary btn-lg">
                                                        Remove </button>
                                                }
                                            </div>
                                            <div class="col-6 text-end">
                                                @if (Model.CartHeader.Discount > 0)
                                                {
                                                    <span class="text-success"> Order Discount : @string.Format("{0:c}",
                                                Model.CartHeader.Discount) </span>
                                                }
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <i></i>
                                <div class="Prices-Total">
                                    <span class="Prices-Text">Total</span>
                                    <div class="Prices-Content">
                                        <span class="Prices-Value-Final"> @string.Format("{0:c}",
                                        Model.CartHeader.CartTotal) </span>
                                    </div>
                                </div>
                            </div>
                            <a asp-action="Checkout">
                                @* @Html.AntiForgeryToken() *@
                                <input type="hidden" name="UserId" />
                                <button type="submit" class="btn btn-primary btn-lg">Checkout</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/Cart.js"></script>
}
else
{
    <div class="page-content">
        <div class="main-title">
            <h4>Cart</h4>
        </div>
        <div class="content">
            <div class="left-content">
                <div class="row-heading">
                    <label class="checkBox">
                        <input type="checkbox" onclick="togglecheckboxes('cb')" value="Toggle all" />
                        <span class="checkbox-fake">
                            <svg class="checkbox-mark" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                            </svg>
                        </span>
                        <span class="label">All 0 product</span>
                    </label>
                    <span>Price</span>
                    <span>Amount</span>
                    <span>Total</span>
                    <form asp-area="Customer" asp-action="DeleteAll" asp-controller="Cart">
                        <input type="hidden" name="id" />
                        <img src="https://frontend.tikicdn.com/_desktop-next/static/img/icons/trash.svg" alt="deleted"
                            class="delete-button" style="cursor: pointer;" onclick="submitDeleteForm(this)">
                    </form>
                </div>
            </div>
            <div class="infinite-scroll-component">
                <div class="right-content">
                    <div class="Right-Inner" style="top: -270px;">
                        <div>
                            <div class="Address-Block">
                                <div class="Customer-Info">
                                    <p class="Customer-Info-Name">
                                        UserName
                                    </p>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                        <div class="Price-Summary">
                            <ul class="Price-Items">
                                <li class="Price-Item">
                                    <div class="Prices-Text">Temporary Price</div>
                                    <div class="Prices-Value"> @((0).ToString("c")) </div>
                                </li>
                                <li class="Price-Item">
                                    <div class="Prices-Text">Discount</div>
                                    <div class="Prices-Value"> @((0).ToString("c")) </div>
                                </li>
                                <li class="Price-Item">
                                    <div class="row">
                                        <div class="col-6">
                                            <span>Coupon:</span>
                                            <input asp-for="CartHeader.CouponCode" disabled />
                                            <button type="#" class="btn btn-primary btn-lg" disabled> Apply
                                            </button>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                            <i></i>
                            <div class="Prices-Total">
                                <span class="Prices-Text">Total</span>
                                <div class="Prices-Content">
                                    <span class="Prices-Value-Final"> @string.Format("{0:c}", 0)
                                    </span>
                                </div>
                            </div>
                        </div>
                        <a asp-action="#">
                            <button type="submit" class="btn btn-primary btn-lg" disabled>Checkout</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}